.card-price {
  border: 1px solid $color-main--dark-30;
  margin-bottom: 30px;
}

.card-price__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  padding-top: 28px;
  color: $color-main--darken-70;
}

.card-price__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  display: block;
  text-align: center;
  margin: 7px 0 0;
  color: $color-main--darken-70;
}

.card-price__text {
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  color: $color-main--darken;
  padding: 0 20px;
}

.card-price__list {
  padding: 0;
  list-style: none;
  margin-top: 34px;
  margin-bottom: 51px;
  &--econom {
    margin-bottom: 35px;
  }
}

.card-price__item {
  text-align: left;
  padding-right: 20px;
  padding-left: 50px;
  margin-bottom: 7px;
  line-height: 32px;
}

