.form {
  background-color: $color-main--light;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    background: url("../../img/background-form.png") no-repeat top center;
    background-size: cover;
    height: 455px;
    margin-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/background-form@2x.png") no-repeat top center;
      background-size: cover;
      height: 455px;
    }
}
}

.form__container {
  @media (min-width: $tablet-width) {
    width: 658px;
    border-radius: 5px;
    background-color: $color-main--lighten;
    margin-top: 20px;
    padding: 50px;
}
}

.form__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: $color-main--darken;
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.form__text {
  line-height: 24px;
  text-align: center;
  margin: 20px 0;
  color: $color-main--darken;
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
}

.form__button {
  border: none;
}
