.offer__title {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $color-main--darken;
  margin-bottom: 20px;
}

.offer__text {
  text-align: center;
  color: $color-main--darken-50;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 26px;
}
