.promo {
  height: 235px;
  background: url("../../img/background-mobile.jpg") no-repeat top center ;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    height: 235px;
    background: url("../../img/background-mobile@2x.jpg") no-repeat top center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background: url("../../img/background-tablet.jpg") no-repeat top center;
    background-size: cover;
    height: 344px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/background-tablet@2x.jpg") no-repeat top center;
      background-size: cover;
      height: 344px;
    }
}
  @media (min-width: $desktop-width) {
  background: url("../../img/background-desktop.jpg") no-repeat top center;
  background-size: cover;
  height: 860px;

  @media (min-resolution: 2dppx) {
    background: url("../../img/background-desktop@2x.jpg") no-repeat top center;
    background-size: cover;
    height: 860px;
  }
}
}

.promo__wrapper {
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    width: 440px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-top: 185px;
    width: 400px;
}
}

.promo__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 82px;
  text-align: center;
  color: $color-main--lighten;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
  font-size: 55px;
  line-height: 80px;
}
}

.promo__text {
  margin: 20px 0;
  line-height: 27px;
  letter-spacing: -0.47px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $color-main--lighten;
    margin: 15px 0;
  }
}

