$tablet-width: 768px;
$desktop-width: 1340px;
$mobile-width-only: 767px;

$color-main--lighten: #ffffff;
$color-main--light: #FBF8F8;
$color-main--dark: #2C2E3F;
$btn-basic-color: #FE7865;
$btn-hover-color: #F17D4B;
$color-main--dark-70: rgba(44, 46, 63, 0.7);
$color-main--dark-30:rgba(44, 46, 63, 0.3);
$color-main--darken: #141517;
$color-main--darken-20: rgba(44, 46, 63, 0.2);
$color-menu-dark: #48494D;
$color-main--darken-70: rgba(20, 21, 23, 0.7);
$color-main--darken-50: rgba(20, 21, 23, 0.5);
$color-main-gray: #D7D9DF;
